{{#> AuthContainer title="Вход"}}
  <form class="login-form">
    {{{InputLogin}}}
    {{{InputPassword}}}
    <div class="login-form__buttons">
      {{#if loginError}}
        <p class="form-error">{{loginError}}</p>
      {{/if}}
      {{{ButtonSubmit}}}
      {{{ButtonRegist}}}
    </div>
  </form>
{{/AuthContainer}}
