{{#if icon}}
  <img class="input-icon" src={{icon}} alt="input-icon" />
{{/if}}
{{{Input}}}
{{#if isNeedLabel}}
  <label for="{{inputName}}">{{label}}</label>
{{/if}}
{{#if error}}
  <p class="error-message">{{error}}</p>
{{/if}}
