{{#> AuthContainer title="Регистрация"}}
  <form class="regist-form">
    {{{InputEmail}}}
    {{{InputLogin}}}
    {{{InputFirstName}}}
    {{{InputSecondName}}}
    {{{InputPhone}}}
    {{{InputPassword}}}
    {{{InputRepeatPassword}}}
    <div class="regist-form__buttons">
      {{#if signUpError}}
        <p class="form-error">{{signUpError}}</p>
      {{/if}}
      {{{ButtonSubmit}}}
      {{{ButtonRegist}}}
    </div>
  </form>
{{/AuthContainer}}
