{{#> AuthContainer title="Регистрация"}}
  <form class="regist-form">
    {{{InputEmail}}}
    {{{InputLogin}}}
    {{{InputFirstName}}}
    {{{InputSecondName}}}
    {{{InputPhone}}}
    {{{InputPassword}}}
    {{{InputRepeatPassword}}}
    <div class="regist-form__buttons">
      {{{ButtonSubmit}}}
      {{{ButtonRegist}}}
    </div>
  </form>
{{/AuthContainer}}
