{{{NavBack}}}
<section class="data-wrapper">
    <form class="profile-form">
        <div class="profile-data">
            {{{ProfileAvatar}}}
            <div class="profile-info">
                <div class="profile-info__item">
                    <span class="profile-info__name">Старый пароль</span>
                    {{{InputPassword}}}
                </div>
                <div class="profile-info__item">
                    <span class="profile-info__name">Новый пароль</span>
                    {{{InputNewPassword}}}
                </div>
                <div class="profile-info__item">
                    <span class="profile-info__name">Новый пароль</span>
                    {{{InputRepeatPassword}}}
                </div>
            </div>

        </div>
        <div class="profile-actions">
            {{{SubmitButton}}}
        </div>
    </form>
</section>
